{% extends 'site_base.html' %}

{% load static from staticfiles %}

{% block content %}

    <h2>{{ page_title }}</h2>

    <p>The Georgia Historic Newspapers Archive is a project of the <a href="http://dlg.galileo.usg.edu">Digital Library
        of Georgia (DLG)</a>, a part of <a href="https://www.galileo.usg.edu">Georgia’s Virtual Library GALILEO</a> and
        is based at the University of Georgia Libraries. Since 2007, the DLG has partnered with universities, archives,
        public libraries, historical societies, museums, and other cultural heritage institutions to digitize historical
        newspapers from around the state. The archive is free and open for public use and includes over one million
        Georgia newspaper pages between 1786 and 1986.</p>

    <p>Newspaper titles are regularly digitized and added to the archive. If you are interested in including a
        particular title, you can visit our participation page. A majority of the newspapers on this site were digitized
        from the microfilm produced by the <a href="http://www.libs.uga.edu/gnp/">Georgia Newspaper Project</a> (GNP).
        For more information about the microfilm available through the GNP, please visit
        <a href="http://www.libs.uga.edu/gnp/">their website</a>.</p>

{% endblock content %}
