{% extends 'site_base.html' %}

{% load static from staticfiles %}

{% block content %}

    <h2>{{ page_title }}</h2>

    <p>
        The Georgia Historic Newspapers Archive allows users to browse by title, date, city, and county. Included below
        is a description of how to navigate the site using the various browsing features available.
    </p>

    <p>Contents:</p>
    <ul>
        <li><a href="#title">Browse by Title</a></li>
        <li><a href="#county">Browse by County</a></li>
        <li><a href="#city">Browse by City</a></li>
        <li><a href="#date">Browse by Date</a></li>
    </ul>

    <h3>
        <a name="title"></a>Browse by Title
    </h3>

    <p>
        Select the “Browse by Title” tab at the top of the homepage. This will direct you to a page with a list of all
        of the titles available in the Georgia Historic Newspapers Archive. The list is sortable by title, county, city,
        number of issues, and date by clicking the arrows at the top of each column. Selecting the title name will load
        a page with information about the title. Clicking on the calendar icon will allow you to browse the title by
        date.
    </p>

    <p>
        [INSERT TITLE BROWSE SCREEN CAPS HERE]
    </p>

    <h3>
        <a name="county"></a>Browse by County
    </h3>

    <p>
        Users can browse by county using the Georgia map on the home page. Click on the county you are interested in and
        a list of titles available from that county will load. You will also have the option to search the titles
        available from the county on that page.
    </p>

    <p>
        [INSERT COUNTY BROWSE SCREEN CAPS HERE]
    </p>

    <h3>
        <a name="city"></a>Browse by City
    </h3>

    <p>
        Select the “Browse by Location” tab at the top of the homepage. This will direct you to a list of newspaper
        titles organized by city. Selecting one of the titles will take you to the title information page where you can
        browse or search the title.
    </p>

    <p>
        [INSERT BROWSE BY LOCATION PAGE SCREEN CAPS HERE]
    </p>


    <h3>
        <a name="date"></a>Browse by Date
    </h3>

    <p>
        Select the “Browse by Date” tab at the top of the homepage. You will be directed to a calendar view with
        highlighted dates. A drop-down box at the top of the page will allow you to select the year you are interested
        in viewing. All of the issue dates available for that year will be highlighted as active links. Selecting the
        date link will direct you to the issue available for that year. If there is more than one title available for a
        date, selecting the link will load a drop-down box which will allow you to select the title you are interested
        in for that date.
    </p>

    <p>
        [INSERT BROWSE BY DATE PAGE SCREEN CAPS HERE]
    </p>

{% endblock content %}
