{% extends 'site_base.html' %}

{% load static from staticfiles %}

{% block content %}

    <h2>{{ page_title }}</h2>

    <p>
        The Georgia Historic Newspapers Archive allows users to browse by title, date, city, and county. Included below
        is a description of how to navigate the site using the various browsing features available.
    </p>

    <p>Contents:</p>
    <ul>
        <li><a href="#title">Browse by Title</a></li>
        <li><a href="#city">Browse by City</a></li>
        <li><a href="#date">Browse by Date</a></li>
        <li><a href="#type">Browse by Type</a></li>
    </ul>

    <h3>
        <a name="title"></a>Browse by Title
    </h3>

    <p>
        Select “Browse by Title” from the “Browse” drop down tab at the top of the homepage. This will direct you to a page with a list of all of the titles available in the Georgia Historic Newspapers Archive. The list is sortable by title, county, city, region, type, number of issues, and date by clicking the arrows at the top of each column.
    </p>

    <p>
        <img src="{% static 'images/browsebytitle.png' %}" alt="" class="img-responsive">
    </p>

    <h3>
        <a name="city"></a>Browse by City
    </h3>

    <p>
        Select “Browse by City” from the “Browse” drop down tab at the top of the homepage. This will direct you to a list of newspaper titles organized alphabetically by city. Selecting one of the titles will take you to the title information page where you can browse the title.
    </p>

    <p>
        <img src="{% static 'images/browsebycity.png' %}" alt="" class="img-responsive">
    </p>

    <h3>
        <a name="date"></a>Browse by Date
    </h3>

    <p>
        Select the “Browse by Date” from the “Browse” drop down tab at the top of the homepage. You will be directed to a calendar view with highlighted dates. A drop-down box to the left of the calendar will allow you to select the year you are interested in viewing. All of the issue dates available for that year will be highlighted as active links. Selecting the date will open a drop down box with the titles available for that year. Selecting a title will direct you to the issue from that date.
    </p>

    <p>
        <img src="{% static 'images/browsebydate.png' %}" alt="" class="img-responsive">
    </p>

    <h3>
        <a name="type"></a>Browse by Type
    </h3>

    <p>
        Users can browse by newspaper type by selecting “Browse by Type” from the “Browse” drop down tab at the top of the homepage. This will direct you to the Browse by Type page, where you will be able to view lists of newspapers organized by type, including African American papers, school papers, religious papers, community papers, and papers of record.
    </p>

    <p>
        <img src="{% static 'images/browsebytype.png' %}" alt="" class="img-responsive">
    </p>

{% endblock content %}
