{% extends "site_base.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
jQuery(function($){
    $("#id_year").change(function(){
        window.location = '{% url 'chronam_calendar' %}' + this.value;
    });
});
</script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="exampleSelect1">Select a Year</label>
            <select class="form-control" id="exampleSelect1">
                {% for date in dates %}
                    <option value="{{ date.year }}">{{ date.year }}</option>
                {% endfor %}
            </select>
        </div>
        <p>
            Instructions or help here.
        </p>
    </div>
    <div class="col-md-9">
        <div class="row">
            {{ year_view|safe }}
        </div>
    </div>
</div>

{% endblock content %}



<div class="col-md-4">
    <form>
        <label class="bold" for="year_select">Select a Year</label>&nbsp; {{select_year_form.year}}
    </form>
</div>

<div id="col2_right" class='row'>
    {{ year_view|safe }}
</div>