{% extends "site_base.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
jQuery(function($){
    function initPage() {
        $('.active').removeClass('active');
        $('.browse-menu-item').addClass('active');
    }
    $(initPage);
    $("#display_year").change(function(){
        window.location.href = '{% url 'chronam_calendar' %}' + this.value;
    });
});
</script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="display_year">Select a Year</label>
            <select class="form-control" id="display_year">
                {% for date in dates %}
                    <option value="{{ date.year }}" {% if date|date:'Y' == year %}selected="selected"{% endif %}>{{ date.year }}</option>
                {% endfor %}
            </select>
        </div>
        <p>
            Select a year to view available issues.
        </p>
    </div>
    <div class="col-md-9">
        <div class="row">
            {{ year_view|safe }}
        </div>
    </div>
</div>

{% endblock content %}