{% extends 'site_base.html' %}

{% load static from staticfiles %}

{% block content %}

    <h2>{{ page_title }}</h2>

    <p>For technical assistance, you can visit our Help page or contact us via the
        <a href="http://www.galileo.usg.edu/contact">GALILEO Contact Us form</a>.</p>

    <p>For information on how to participate in the Georgia Historical Newspapers project, please visit our
        <a href="">Participation page</a> or contact us at <a href="mailto:dlgnwp@uga.edu">dlgnwp@uga.edu</a>.</p>

For questions about microfilm holdings of Georgia newspapers, please contact the Georgia Newspaper Project at gnp@uga.edu.

{% endblock content %}
