{% extends 'site_base.html' %}

{% load static from staticfiles %}

{% block content %}

    <h2>{{ page_title }}</h2>

    <p>The newspaper publications found in the Georgia Historic Newspapers Archive are either in the public domain or
        permission has been granted by the copyright owner for digital distribution. The newspapers on this site are freely
        available for personal and educational use.</p>

    <p>You can find more copyright information from  Peter Hirtle's
        <a href="http://copyright.cornell.edu/resources/publicdomain.cfm">Copyright Term and the Public Domain in the
        United States</a> and also DPLA's
        <a href="https://dp.la/info/about/projects/public-library-partnerships/understanding-copyright/">
        Understanding Copyright online module</a>. You might also want to use ALA's
        <a href="http://librarycopyright.net/resources/genie/">Copyright Genie</a> as a quick way to determine if a work
        is still in copyright.</p>

{% endblock content %}
