{% extends "site_base.html" %}
{% load static from staticfiles %}

{% block head_content %}{{ block.super }}
    <link href="{% static 'chosen/chosen.min.css' %}" rel="stylesheet" media="screen">
{% endblock head_content %}

{% block page_head %}
    <h1>{{ county }} County Newspapers</h1>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12" id="region-search">
                    {% if start_year and end_year %}<p>Issues are available from <strong>{{ start_year }}</strong> to <strong>{{ end_year }}</strong>.</p>{% endif %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form action="{% url 'chronam_search_pages_results' %}" class="form-horizontal" method="get">
                                <input type="hidden" name="county" value="{{ county }}" />
                                <div class="form-group">
                                    <label for="proxtect" class="sr-only">Search within {{ county }}</label>
                                    <input name="proxtext" type="text" class="form-control" placeholder="Search within {{ county }}" style="width:100%" />
                                </div>
                                <button type="submit" class="btn btn-primary">Search <i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if titles_in_county %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Titles in {{ county }}
                            <span class="county-title-count badge pull-right">
                                {{ titles_in_county|length }}
                            </span>
                        </div>
                        <div class="panel-body">
                        {% for title in titles_in_county %}
                         <div class="county-titles-list-item">
                             <a href="{% url 'chronam_title' title.lccn %}">
                                {{ title.display_name_with_date_range }}
                             </a>
                         </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        None Yet!
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}{{ block.super }}
<script type="text/javascript">
(function($) {
    function initPage() {
        $('.active').removeClass('active');
        $('.browse-menu-item').addClass('active');
    }
    $(initPage);
})(jQuery)
</script>
{% endblock javascript %}