{% extends "newspaper.html" %}

{% block extra_nav %}
<div class="row">
    <div class="col-md-2">
        <form>
            <label class="bold" for="year_select">Issues for:</label>&nbsp; {{select_year_form.year}}
        </form>
        <p class="rule-top"><a href="{% url 'chronam_issues_first_pages' title.lccn %}"><strong>Show all front pages</strong></a></p>
        <p class="rule-top gray">Single edition:<br /> dates in <b>bold</b>.</p>
        <p class="gray">Multiple editions:<br /> dates in <b><i>bold italics</i></b>.</p>
    </div>
</div>
{% endblock extra_nav%}

{% block newspaper_content %}
<div class='row'>
    <div class="col-md-12">
        {{year_view|safe}}
    </div>
</div>
{% endblock newspaper_content%}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
jQuery(function($){
    $("#id_year").change(function(){
        window.location = '{% url 'chronam_issues' title.lccn %}' + this.value;
        });
});
</script>
{% endblock javascript %}