{% extends "site_base.html" %}
{% block content %}

    {% if title.funding_source %}
        <p>Funding for the digitization of this title was provided by {{ title.funding_source.name }}
    {% endif %}

    <p>Image provided by {{issue.batch.awardee.name}}</p>

    <a class="btn btn-default print-button" href="javascript:window.print()">Print this page</a><br><br>

    <img src="{{ image_url }}" alt="Page" />

    <p>Persistent link: <a href="{{url}}">https://{{host}}{{url}}</a>
{% endblock %}
