{% extends "site_base.html" %}
{% block content %}

    {% if title.funding_source %}
        <p>Funding for the digitization of this title was provided by {{ title.funding_source.name }}
    {% endif %}

    <p>Image provided by {{issue.batch.awardee.name}}</p>

    <a class="btn btn-default print-button" href="javascript:window.print()">Print this page</a><br><br>

    <img src="{% url 'chronam_page_image_tile' lccn issue.date_issued issue.edition page.sequence width height x1 y1 x2 y2 %}" alt="Page" />

    <p>Persistent link: <a href="{{url}}">http://{{host}}{{url}}</a>
{% endblock %}
