{% extends "site_base.html" %}
{% load static from staticfiles %}

{% block head_content %}{{ block.super }}
    <style type="text/css">
#viewer_container_container {
    display: inline-block;
    position: relative;
    width: 100%;
}
#dummy { /* for specifying aspect ratio of viewer_container */
    padding-top:{% widthratio page.jp2_length page.jp2_width 100 %}%;
}
#viewer_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px;
    padding: 0px;
    background-color: black;
    border: 1px solid black;
    color: white;   /* for error messages, etc. */
}
.overlay
{
    border: 1px solid red;
    opacity: 0.4;      
    -moz-opacity: 0.4;
    -webkit-opacity: 0.4;
    background: red;
}
.pagetools a.disabled,
.pagetools a.disabled:hover {
    color: #999999;
}

.toolbar
{
    float: left;
    height:     33px;
    border:     none;
    color:      #333;
    padding:    0px;
    background-color: transparent;
    z-index:    999999;
}

.toolbar.fullpage
{
    height: 0px;
}
    </style>

{% endblock head_content %}

{% block page_head %}
    <h1>{{ page_title }}</h1>
{% endblock %}

{% block main_content %}
    <div class="page-view">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="Page Navigation">
                  {% if page.previous %}<a href="{% url 'chronam_page' title.lccn issue.date_issued issue.edition page.previous.sequence %}" class="btn btn-default">Previous Pge</a>{% endif %}
                  {% if page.next %}<a href="{% url 'chronam_page' title.lccn issue.date_issued issue.edition page.next.sequence %}" class="btn btn-default">Next Page</a>{% endif %}
                </div>
                <div class="btn-group" role="group" aria-label="Issue Navigation">
                  {% if previous_issue_first_page %}<a href="{% url 'chronam_page' title.lccn previous_issue_first_page.issue.date_issued previous_issue_first_page.issue.edition previous_issue_first_page.sequence %}" class="btn btn-default">Previous Issue</a>{% endif %}
                  {% if next_issue_first_page %}<a href="{% url 'chronam_page' title.lccn next_issue_first_page.issue.date_issued next_issue_first_page.issue.edition next_issue_first_page.sequence %}" class="btn btn-default">Next Issue</a>{% endif %}
                </div>
                <div class="btn-group" role="group" aria-label="Page Options">
                  <a href="{% url 'chronam_page_ocr' title.lccn issue.date_issued issue.edition page.sequence %}" class="btn btn-default">View Page Text</a>
                  <a href="{% url 'chronam_page_pdf' title.lccn issue.date_issued issue.edition page.sequence %}" class="btn btn-default">View PDF</a>
                </div>
            </div>
        </div>

    {% if title.funding_source %}
        <div class="row">
            <div class="alert alert-info">
                Funding for the digitization of this title was provided by {{ title.funding_source.name }}
            </div>
        </div>

    {% endif %}

        <div class="row">
        {% if page.jp2_filename %}
            <div class="col-md-12">
                <div id="viewer_container_container">
                    <div id="dummy"></div>
                    <div id="viewer_container" class="openseadragon">
                       <div id="item-ctrl" class="toolbar"></div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="missing">
                <h3>Missing Page: {{explanation}}</h3>
            </div>
        {% endif %}
        </div>
    </div>
      
{% endblock main_content %}

{% block javascript %}
{{ block.super }}
    <script src="{% static 'js/openseadragon.min.js' %}"></script>
    <script src="{% static 'js/jquery.ba-bbq.min.js' %}"></script> 

    <div id="page_data"
	 data-static_url="{% static '' %}images/",
	 data-width="{{page.jp2_width}}"
	 data-height="{{page.jp2_length}}"
	 data-page_url="{% url 'chronam_page' title.lccn issue.date_issued issue.edition page.sequence %}"
	 data-tile_url="/images/tiles/{{issue.batch.name}}/data/{{page.jp2_filename}}/"
	 data-coordinates_url="{% url 'chronam_page_coordinates' page.issue.title.lccn page.issue.date_issued page.issue.edition page.sequence %}"
	 data-navigation_url="{% url 'chronam_search_pages_navigation' %}?"
	 ></div>

    <script src="{% static 'js/page.js' %}"></script>

    <noscript><!-- without javascript the pageviewer does not work; display OCR in this case instead. -->
        <h3>Newspaper Page Text</h3>
        <pre>{{ page.ocr.text }}</pre>
    </noscript>
{% endblock %}
