{% extends 'site_base.html' %}

{% load static from staticfiles %}

{% block content %}

    <h2>{{ page_title }}</h2>

    <p>Newspaper digitization was made possible through partnerships with the following organizations and individuals:</p>

    <ul>
        <li>Athens-Clarke County Library</li>
        <li>Flint Energies Foundation</li>
        <li>Flagpole Magazine</li>
        <li>Francis Wood Wilson Foundation, Inc.</li>
        <li>Georgia HomePLACE</li>
        <li>Georgia Public Library Service</li>
        <li>Houston County Public Library System</li>
        <li>Mercer University Libraries</li>
        <li>R.J. Taylor, Jr. Foundation</li>
        <li>Roman Catholic Diocese of Savannah</li>
        <li>Randy Sullivan</li>
        <li>Srochi family of Atlanta</li>
        <li>Taylor County Historical-Genealogical Society</li>
        <li>University of Georgia</li>
        <li>Cuba Family Archives, William Breman Jewish Heritage Museum</li>
    </ul>

{% endblock content %}
