{% extends 'site_base.html' %}

{% load static from staticfiles %}

{% block content %}

    <h2>{{ page_title }}</h2>

    <p>
        The Digital Library of Georgia (DLG) frequently works with partners to digitize newspapers. If you or your
        organization are interested in having a title added to the Georgia Historic Newspapers online archive, we have
        included information below to assist you.
    </p>

    <p>Contents</p>
    <ul>
        <li><a href="#gettingstarted"></a>Getting Started</li>
        <li><a href="#copyright"></a>Copyright</li>
        <li><a href="#funding"></a>Funding</li>
        <li><a href="#standards"></a>Digitization Standards</li>
        <li><a href="#resources"></a>Additional Resources</li>
        <li><a href="#contact"></a>Contact Us</li>
    </ul>

    <h3>
        <a name="gettingstarted"></a>Getting Started
    </h3>

    <p>
        If there is a title you are interested in digitizing, the first step is to identify whether or not it has
        already been digitized. You can view a <a href="{% url 'chronam_newspapers' %}">list of titles included in the
        Georgia Historic Newspapers archive</a>. You might also investigate whether the title has been digitized by
        another institution. The Digital Library of Georgia has compiled a
        <a href="http://dlg.galileo.usg.edu/MediaTypes/Newspapers.html">list of digitized Georgia newspapers</a> on
        their media page listing.
    </p>

    <p>
        If you are interested in a title that hasn’t been digitized, you will need to investigate whether it has been
        microfilmed by the Georgia Newspaper Project. Most of the newspapers included in the Georgia Historic Newspapers
        Archive are digitized from microfilm, as it is the most efficient and least expensive approach to digitization.
        Digitizing public-use microfilm can produce less accurate full-text searching due to normal wear and tear of the
        film. If you own microfilm of a Georgia newspaper title, there is a good chance our Georgia Newspaper Project
        division holds the copy negative masters. Should you wish to digitize a newspaper title and have us host the
        files, we may be willing to loan our copy negative masters. As these reels are not used by the public, they
        provide excellent text recognition for searching. To find out what newspaper titles have already been
        microfilmed, please visit <a href="http://www.libs.uga.edu/gnp/titlelist">the Georgia Newspaper Project’s list
        of microfilm holdings</a>.
    </p>

    <p>
        If you have paper copies of a newspaper title that have never been microfilmed, the best approach is either: to
        have the papers microfilmed by the Georgia Newspaper Project or to have them scanned by a vendor as 400 dpi
        grayscale TIFFs. Please <a href="{% url 'about_contactus' %}">contact us</a> to discuss microfilming the paper
        copies or to get a list of vendors.
    </p>

    <p>
        If you already have digital images of a newspaper title, they need to be at least 300 dpi 8-bit grayscale TIFFs
        (preferably 400dpi) to be processed and included in the Georgia Historic Newspapers Archive.
    </p>

    <h3>
        <a name="copyright"></a>Copyright
    </h3>

    <p>
        Before committing to digitizing a newspaper title, you may need to do some copyright investigation to determine
        if the issues you want to digitize are still in copyright or if they are in the public domain. Although your
        library may own the microfilm reels, the copyright to the newspaper content is retained by the publisher until
        it enters the public domain.
    </p>

    <p>
        Here is a quick breakdown of newspaper copyright guidelines:
        <ul>
            <li>Issues published before 1923: Public Domain.</li>
            <li>Issues published between 1923 and 1977 without a formal copyright notice: Public Domain.</li>
            <li>Issues published between 1923 and 1963 with notice, but no copyright renewal: Public Domain.</li>
        </ul>

    <p>
        If the papers you would like to digitize were published after 1977, they are probably still under copyright and
        will require permission from the publisher to put online. If you are interested in seeking permission from a
        copyright holder to digitize a newspaper title, the DLG has a Digital Distribution Grant of Permissions form
        available for use. This would allow you to digitize newspapers protected by copyright. The DLG is unable to host
        in-copyright newspaper issues online without the express permission of the copyright holder.
    </p>

    <p>
        You can find more copyright information from Peter Hirtle's
        <a href="http://copyright.cornell.edu/resources/publicdomain.cfm">Copyright Term and the Public Domain in the
        United States</a> and also DPLA's
        <a href="(https://dp.la/info/about/projects/public-library-partnerships/understanding-copyright/">Understanding
        Copyright online module</a>. You might also want to use ALA's
        <a href="http://librarycopyright.net/resources/genie/">Copyright Genie</a> as a quick way to determine if a work
        is still in copyright.
    </p>

    <h3>
        <a name="funding"></a>Funding
    </h3>

    <p>
        Digitizing historic newspapers can be costly. DLG staff can help you develop your project and create a budget.
        Some organizations have applied for grants from local foundations to help support digitization partnerships with
        the DLG. Please contact us for any information you might need to fill out a grant application at
        <a href="mailto:dlgnwp@uga.edu">dlgnwp@uga.edu</a>. If you are interested in supporting the digitization of a
        newspaper title for inclusion in the archive, we are glad to accept contributions from organizations and
        individuals.
    </p>

    <h3>
        <a name="standards"></a>Digitization Standards
    </h3>

    <p>
        The DLG’s newspaper digitization and delivery practices conform with those used by the
        <a href="https://www.loc.gov/ndnp/">National Digital Newspaper Program</a> (NDNP). NDNP's guidelines are the
        platinum standard for newspaper digitization. If you follow their
        <a href="https://www.loc.gov/ndnp/guidelines/NDNP_201618TechNotes.pdf">specifications</a> for creating
        searchable text, master images, and derivative files, we would be able to host your newspapers in our state-wide
        database with no hosting fees.
    </p>


    <p>
        We have experience working with vendors who digitize newspapers according to these standards. If you are
        interested in sending newspaper microfilm reels to a vendor for digitization, we can work with them to ensure
        that the newspapers are digitized in a manner so that they can be included in the Georgia Historic Newspapers
        Archive. The Digital Library of Georgia has created an information sheet for requesting NDNP-compliant newspaper
        digitization work from vendors.
    </p>

    <h3>
        <a name="resources"></a>Additional Resources
    </h3>

    <p>
        To learn more about newspaper digitization and the NDNP standards followed by the DLG, please visit the
        resources listed below.
    </p>

    <ul>
        <li><a href="http://www.loc.gov/ndnp/guidelines/">National Digital Newspaper Program Guidelines and Resources</a></li>
        <li><a href="http://www.loc.gov/ndnp/guidelines/metadata.html">National Digital Newspaper Program Metadata Resources</a></li>
        <li><a href="http://www.uky.edu/Libraries/NDNP/metamorphosis/index.html">University of Kentucky’s meta|morphosis microfilm-to-digital lecture series</a></li>
        <li><a href="http://www.digitizationguidelines.gov/">Federal Agencies Digitization Guidelines Initiative</a></li>
        <li><a href="https://educopia.org/publications/gdnpr">Edutopia’s Guidelines for Digital Newspaper Preservation Readiness</a></li>
    </ul>

    <h3>
        <a name="contact"></a>Contact Us
    </h3>

    <p>
        If you are interested in digitizing a Georgia newspaper title and including it in the Georgia Historic
        Newspapers Archive, please <a href="{% url 'about_contactus' %}">contact us</a>.
    </p>


{% endblock content %}
