{% extends "site_base.html" %}
{% load static from staticfiles %}

{% block page_head %}
    <h2>{{ page_title }}</h2>
    <span></span>
{% endblock %}

{% block main_content %}

    <div class="regional-search well well-small">
        Search within this region:
        <input type="search" />
    </div>

    <div class="counties-list well well-small">

        <p>Counties Included: {{ counties|join:", " }}</p>

    </div>

    <div class="cities-list well well-small">

        <p>Cities Included: {{ cities|join:", " }}</p>

    </div>

    <div class="titles-by-county-list">

        <p>Titles by County:</p>
        {% if county_titles %}
        <ul>
            {% for ct in county_titles %}
                {% if ct.titles %}
                <li>
                    {{ ct.county }}
                    <ul>
                        {% for title in ct.titles %}
                            <li>
                                <a href="{% url 'chronam_title' title.lccn %}">
                                    {{title.display_name}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            None Yet!
        {% endif %}

    </div>



{% endblock %}