{% extends "site_base.html" %}
{% load static from staticfiles %}

{% block head_content %}{{ block.super }}
    <link href="{% static 'chosen/chosen.min.css' %}" rel="stylesheet" media="screen">
{% endblock head_content %}

{% block page_head %}
    <h1>{{ page_title }}</h1>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12 region" id="region-search">
                    {% if start_year and end_year %}<p>Issues are available from <strong>{{ start_year }}</strong> to <strong>{{ end_year }}</strong>.</p>{% endif %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form action="{% url 'chronam_search_pages_results' %}" class="form-horizontal" method="get">
                                <input type="hidden" name="region" value="{{ region.slug }}" />
                                <div class="form-group">
                                    <input name="proxtext" type="text" class="form-control" placeholder="Search within {{ region.name }}" />
                                </div>
                                <div class="additional-search-options">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="city">City</label>
                                                <select class="form-control" name="city" id="city" title="City filter" multiple>
                                                    <option value=""></option>
                                                    {% for city in cities_with_titles %}
                                                        <option value="{{ city }}">{{ city }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="type">Newspaper Type</label>
                                                <select name="newspaper_type" id="type" class="form-control col-md-3" title="Type filter" multiple>
                                                    <option value=""></option>
                                                    {% for type in types %}
                                                        <option value="{{ type.slug }}">{{ type.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="help-block small">You may use these boxes to select multiple options</p>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Search <i class="fa fa-search" aria-hidden="true"></i></button>
                                <a href="#search" class="show-additional-search-options btn btn-link">Show More Options</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>{{ region_text|linebreaks }}</p>
                    <p>For information on the historical placement of Georgia's counties, see William Thorndale and William Dollarhide's Map Guide to the U.S. Federal Censuses, 1790-1920.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Titles By County</h3>
                    {% if county_titles %}
                        {% for ct in county_titles %}
                        {% if ct.titles %}
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {{ ct.county }}
                                    <span class="county-title-count badge pull-right">
                                        {{ ct.titles|length }}
                                    </span>
                                </div>
                                <div class="panel-body">
                                {% if ct.titles %}
                                    {% for title in ct.titles %}
                                         <div class="county-titles-list-item">
                                            <a href="{% url 'chronam_title' title.lccn %}">
                                                {{ title.display_name_with_date_range }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    {% else %}
                        None Yet!
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{% static region_image %}" alt="{{ region.name }} region map" class="img-responsive img-region">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Counties Included
                    </h3>
                </div>
                <div class="panel-body">
                    {{ counties|join:", " }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Cities Included
                    </h3>
                </div>
                <div class="panel-body">
                    {{ cities|join:", " }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}{{ block.super }}
<script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
<script type="text/javascript">
(function($) {
    function initPage() {
        $('#city').chosen({allow_single_deselect: true});
        $('#type').chosen({allow_single_deselect: true});
        $('.active').removeClass('active');
        $('.region-menu-item').addClass('active');
        $('.show-additional-search-options').click(function(){
            $('.additional-search-options').show();
            $(this).hide();
        });
        if(window.location.hash !== '#search') {
            $('.additional-search-options').hide();
        } else {
            $('.show-additional-search-options').hide();
        }
    }
    $(initPage);
})(jQuery)
</script>
{% endblock javascript %}