{% extends 'site_base.html' %}

{% load static from staticfiles %}

{% block content %}

    <h2>{{ page_title }}</h2>

    <p>Included below is a list of state, national, and international resources available for additional newspaper
        research:</p>

    <h4>
        <a href="http://dlg.galileo.usg.edu/MediaTypes/Newspapers.html">Digital Library of Georgia (DLG)</a>
    </h4>
    <p>
        The DLG maintains a list of freely available online Georgia newspaper resources.
    </p>

    <h4>
        <a href="http://chroniclingamerica.loc.gov">Chronicling America</a>
    </h4>
    <p>
        The Library of Congress’ national online newspaper archive includes millions of searchable newspaper pages
        between 1690 and 1963.
    </p>

    <h4>
        <a href="https://dp.la/">Digital Public Library of America (DPLA)</a>
    </h4>
    <p>
        A national portal that allows users to search through millions of digitized items, including newspapers, from
        cultural institutions around the nation.
    </p>

    <h4>
        <a href="http://www.loc.gov/rr/news/oltitles.html">Library of Congress Newspaper & Current Periodical Reading Room</a>
    </h4>
    <p>
        A list of free and commercial newspaper archives and indexes compiled by the Library of Congress.
    </p>

    <h4>
        <a href="https://en.wikipedia.org/wiki/Wikipedia:List_of_online_newspaper_archives">Wikipedia List of Online Newspaper Archives</a>
    </h4>
    <p>
        A crowd-sourced list of online newspaper archives from around the world. The list includes both free and
        commercial sites and is organized by country. The United States newspaper list is organized by state.
    </p>

{% endblock content %}
