{% extends 'site_base.html' %}

{% load static from staticfiles %}

{% block content %}

    <h2>{{ page_title }}</h2>

    <p>Contents:</p>
    <ul>
        <li><a href="#keyword">Keyword Searching</a></li>
        <li><a href="#advanced">Advanced Searching</a></li>
        <li><a href="#regional">Regional Searching</a></li>
    </ul>

    <h3><a name="keyword"></a>Keyword Searching</h3>

    <p>
        Keyword searches can be performed using the search box at the top of the homepage. This will allow you to search for words or terms in all of the newspapers included in the Georgia Historic Newspapers website.
    </p>

    <p><img src="{% static 'images/homepage.png' %}" alt="" class="img-responsive"></p>

    <p>
        Using this search box will direct you to a search results page with image thumbnails of the newspaper pages. If you select a page from the search results you will be directed to the page view for your selection.
    </p>

    <p><img src="{% static 'images/searchresults.png' %}" alt="" class="img-responsive"></p>

    <h3><a name="advanced"></a>Advanced Searching</h3>

    <p>
        To perform more specific searches, select the “Search” tab at the top of the homepage. This will direct you to the advanced search page. The options on this page will allow you to limit your search by city, county, type, region, newspaper title, and date. Clicking on a box will open a drop down menu that will allow you to select multiple options. You will also have the option of entering keywords into a variety of search term boxes. Once you have selected all of your search parameters, click the search box at the bottom of the page. This will direct you to the search results page.
    </p>

    <p><img src="{% static 'images/advancedsearch.png' %}" alt="" class="img-responsive"></p>


    <h3><a name="regional"></a>Regional Searching</h3>

    <p>
        Users can search newspaper titles by region using the site’s region page option. You can choose a region by selecting it on the homepage map or by using the “Regions” drop down tab at the top of the homepage.
    </p>

    <p><img src="{% static 'images/homepage.png' %}" alt="" class="img-responsive"></p>

    <p>
        The region pages provide information about the history of the area along with lists of the counties and cities that are included in the region. You have the option of searching for keywords in newspaper titles from that region by entering your search terms in the search box near the top of the page. Additionally, you can browse the titles from the region by selecting them from the “Titles By County” lists below the search box.
    </p>

    <p><img src="{% static 'images/searchbyregion.png' %}" alt="" class="img-responsive"></p>

{% endblock content %}
