{% extends "site_base.html" %}
{% load static from staticfiles %}
{% load humanize %}
{% block head_content %}{{ block.super }}
<link href="{% static 'bootstrap/css/datepicker.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'chosen/chosen.min.css' %}" rel="stylesheet" media="screen">
{% endblock head_content %}

{% block page_head %}
<h1>{{ page_title }}</h1>
{% endblock page_head %}

{% block main_content %}

<main class="advanced-search">
    <section>
        <form action="{% url 'chronam_search_pages_results' %}" method="get" name="fulltext2" id="fulltext2">
            <div class="col-md-12">
                <label for="id_andtext">Pages containing <strong>ALL</strong> of the words: {{ adv_search_form.andtext }}</label>
                <label for="id_ortext">Pages containing <strong>ANY</strong> of the words: {{ adv_search_form.ortext }}</label>
                <label for="id_nottext">Pages containing <strong>WITHOUT</strong> of the words: {{ adv_search_form.nottext }}</label>
                <label for="id_phrasetext">Pages containing the <strong>PHRASE</strong>: {{ adv_search_form.phrasetext }}</label>
            </div>
            <div class="col-md-12">
                <fieldset>
                    <legend>Word Proximity Search</legend>
                    <div class="row">
                        <div class="col-md-8">
                            <label for="id_proxtext_adv">Pages containing the words:<br> {{ adv_search_form.proxtext }}</label>
                        </div>
                        <div class="col-md-4">
                            <label for="id_proxdistance">within<br> {{ adv_search_form.proxdistance }}<span>words of each other</span></label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-8">
                <fieldset>
                    <legend>Limit Search</legend>
                    <p class="help-block">You may use the boxes below to select multiple options.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="id_cities">Cities: {{ adv_search_form.city }} </label>
                        </div>
                        <div class="col-md-6">
                            <label for="id_counties">Counties: {{ adv_search_form.county }} </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="id_types">Types: {{ adv_search_form.newspaper_type }} </label>
                        </div>
                        <div class="col-md-6">
                            <label for="id_regions">Regions: {{ adv_search_form.region }} </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="id_states">Newspapers: {{ adv_search_form.lccn }} </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset>
                    <legend>Limit by Date Range</legend>
                        <!-- date -->
                        <p class="help-block">Newspaper pages are available for newspapers published between <strong>{{adv_search_form.fulltextStartYear}}-{{adv_search_form.fulltextEndYear}}</strong>. Dates must be in <strong>MM/DD/YYYY</strong> format.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="id_date_from">from
                                    <input id="id_date_from" name="date1" class="form-control" type="text" data-date-format="mm/dd/yyyy" data-date="01-01-{{adv_search_form.fulltextStartYear}}" value="01/01/{{adv_search_form.fulltextStartYear}}">
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label for="id_date_to">to
                                    <input id="id_date_to" name="date2" class="form-control" type="text" data-date-format="mm/dd/yyyy" data-date="12-31-{{adv_search_form.fulltextEndYear}}" value="12/31/{{adv_search_form.fulltextEndYear}}">
                                </label>
                            </div>
                        </div>
                </fieldset>
            </div>
            <div class="col-md-12">
                <fieldset>
{#                  <input type="hidden" name="rows" id="rows" value="20" />#}
                  <input type="hidden" name="searchType" value="advanced" />
                  <div class="form-actions">
                    <button id="adv_reset" type="reset" value="clear" class="btn">Clear</button>
                    <button type="submit" value="Submit" class="btn btn-primary">Search</button>
                  </div>
                </fieldset>
            </div>
        </form>
    </section>
</main>
{% endblock main_content %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'bootstrap/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
<script type="text/javascript">
(function($){
    $('#id_date_from').datepicker();
    $('#id_date_to').datepicker();
    $('#id_lccns').chosen({allow_single_deselect: true});
    $('#id_city').chosen({allow_single_deselect: true});
    $('#id_county').chosen({allow_single_deselect: true});
    $('#id_newspaper_type').chosen({allow_single_deselect: true});
    $('#id_region').chosen({allow_single_deselect: true});
    $('#id_proxdistance').chosen({disable_search_threshold: 10});
})(jQuery);
</script>
{% endblock javascript %}
