<!DOCTYPE html>{% load static from staticfiles %}
<html lang="en">
    <head>
        {% block head_content %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <head profile="http://dublincore.org/documents/2008/08/04/dc-html/">
    
        <title>{% if page_title %}{{page_title}} « {% endif %}{% if site_title %}{{site_title}}{% endif %}</title>
    
        <link rel="stylesheet" href="{% static "css/app.css" %}">
    
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    
        {% endblock head_content %}
    </head>
<body>
{% block body_content %}

    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <img src="{% static "images/logo-dlg.svg" %}" alt="Digital Library of Georgia Logo" class="img-responsive">
                </div>
                <div class="col-xs-5">
                    <img src="{% static "images/logo-galileo.svg" %}" alt="GALILEO Logo" class="img-responsive pull-right">
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Georgia Historic Newspapers</h1>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="{% url 'chronam_search_advanced' %}">Search</a>
                    </li>
                    <li class="dropdown region-menu-item">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Regions <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/regions/north/">North Georgia</a>
                            </li>
                            <li>
                                <a href="/regions/west/">West Georgia</a>
                            </li>
                            <li>
                                <a href="/regions/south/">South Georgia</a>
                            </li>
                            <li>
                                <a href="/regions/middle/">Middle Georgia</a>
                            </li>
                            <li>
                                <a href="/regions/east/">East Georgia</a>
                            </li>
                            <li>
                                <a href="/regions/atlanta/">Metro Atlanta</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown browse-menu-item">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Browse <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'chronam_newspapers' %}">Browse by Title</a>
                                <a href="{% url 'chronam_calendar' %}">Browse by Date</a>
                                <a href="{% url 'browse_by_city' %}">Browse by City</a>
{#                                <a href="#">Browse by County</a>#}
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Help</a>
                    </li>
                    <li>
                        <a href="#">Participate</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <section>
            <div class="container">

                <ol class="breadcrumb breadcrumb-arrow">
                    {% for crumb in crumbs %}
                    {% if forloop.last %}
                    <li class="active"><span>{{crumb.label}}</span></li>
                    {% else %}
                    <li><a href="{{ crumb.href }}">{{ crumb.label }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ol>

                {% block content %}
                {% endblock content %}

            </div>

        </section>
    </main>

    <footer class="footer">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default center-block">
                        <div class="panel-body">
                            <h4>Are you interested in including a title in the archive?</h4>
                            <button type="button" class="btn btn-default">Get Involved</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Follow Us!</h4>
                    <ul class="social-icons">
                        <li><a href=""><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-rss-square fa-3x" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <a href="https://dp.la"><img class="img-responsive dpla-logo center-block" src="{% static "images/logo-dpla.png" %}" alt="DPLA Logo"></a>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <p class="text-center">
                        The Georgia Historic Newspapers database is a project of the Digital Library of
                        Georgia as part of Georgia HomePlace. The project is supported with federal LSTA
                        funds administered by the Institute of Museum and Library Services through the
                        Georgia Public Library Service, a unit of the Board of Regents of the University
                        System of Georgia.
                    </p>
                </div>
            </div>
        </div>
    </footer>

{% endblock body_content %}
{% block javascript %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock javascript %}
    <script type="text/javascript">
    (function($) {
        function initPage() {
            $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
        }
        $(initPage);
    })(jQuery)
    </script>
</body>

</html>
