{% extends "newspaper.html" %}
{% load static from staticfiles %}
{% load custom_filters %}

{% block lc_metadata %}
{% with title.display_name as title_metadata %}
{% include "includes/lc_metadata.html" %}
{% endwith %}
{% endblock %}

{% block extra_link_types %}
<link rel="alternate" href="{% url 'chronam_title_dot_json' title.lccn %}" />
{% endblock %}

{% block newspaper_content %}

<div class="row">
    <div class="col-md-8 newspaper-about">
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Title:</h4>
            </div>
            <div class="col-md-9">
                {{ title.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Place of Publication:</h4>
            </div>
            <div class="col-md-9">
                {{ title.place_of_publication }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Geographic coverage:</h4>
            </div>
            <div class="col-md-9">
                <ul>
                    {% for place in title.places.all %}
                    <li>
                        {{ place.city }},
                        {% ifnotequal place.county None %}
                        {{ place.county }} county
                        {% endifnotequal %}
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Publisher:</h4>
            </div>
            <div class="col-md-9">
                {{ title.publisher }}
            </div>
        </div>
        {% if title.start_year or title_end_year %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Dates of publication:</h4>
            </div>
            <div class="col-md-9">
                {{title.start_year|default:"?"}}-{{title.end_year|default:"?"}}
            </div>
        </div>
        {% endif %}
        {% if title.publication_dates.all %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Description:</h4>
            </div>
            <div class="col-md-9">
                <ul>
                    {% for pd in title.publication_dates.all %}
                    <li>{{ pd.text }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% if title.frequency %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Frequency:</h4>
            </div>
            <div class="col-md-9">
                {{ title.frequency }}
                {% if title.frequency_date %}
                {{ title.frequency_date }}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if title.languages.all %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Languages:</h4>
            </div>
            <div class="col-md-9">
            <ul>
                {% for lang in title.languages.all %}
                <li>{{ lang.name }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
        {% endif %}
        {% if title.subjects.all %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Subjects:</h4>
            </div>
            <div class="col-md-9">
            <ul>
                {% for subject in title.subjects.all %}
                <li>{{ subject.heading }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
        {% endif %}
        {% if title.notes.all %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Notes:</h4>
            </div>
            <div class="col-md-9">
            <ul>
                {% for note in title.notes.all %}
                <li>{{ note.text }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>LCCN:</h4>
            </div>
            <div class="col-md-9">
                {{ title.lccn }}
            </div>
        </div>
        {% if title.oclc %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>OCLC:</h4>
            </div>
            <div class="col-md-9">
                {{ title.oclc }}
            </div>
        </div>
        {% endif %}
        {% if title.issn %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>ISSN:</h4>
            </div>
            <div class="col-md-9">
                {{ title.issn }}
            </div>
        </div>
        {% endif %}
        {% if preceeding_titles %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Preceding Titles:</h4>
            </div>
            <div class="col-md-9">
                <ul>
                {% for t in preceeding_titles %}
                    <li><a href="{% url 'chronam_title' t.lccn %}">{{ t }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% if succeeding_titles %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Succeeding Titles:</h4>
            </div>
            <div class="col-md-9">
                <ul>
                {% for t in succeeding_titles %}
                    <li><a href="{% url 'chronam_title' t.lccn %}">{{ t }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% if related_titles %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Related Titles:</h4>
            </div>
            <div class="col-md-9">
                <ul>
                {% for t in related_titles %}
                    <li><a href="{% url 'chronam_title' t.lccn %}">{{ t }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% if title.urls.all %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Related Links:</h4>
            </div>
            <div class="col-md-9">
                <ul>
                {% for u in titles.urls.all %}
                    <li><a href="{{u.value}}">{{u.value}}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-3 text-right">
                <h4>Holdings:</h4>
            </div>
            <div class="col-md-9">
                <a href="{% url 'chronam_title_holdings' title.lccn %}">View complete holdings information</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        {% if title.has_issues %}
            <h3>{{title.display_name}}&nbsp;{{issue_date|date:"F j, Y"}}</h3>
            <div class="col-md-5">
                {% if title.first_issue.first_page_with_image.jp2_filename and title.first_issue.first_page_with_image.sequence %}
                    <a href="{% url 'chronam_page' title.lccn title.first_issue.date_issued title.first_issue.edition title.first_issue.first_page_with_image.sequence %}">
                        <img class="thumbnail img-responsive" src="{% url 'chronam_page_thumbnail' title.lccn title.first_issue.date_issued title.first_issue.edition title.first_issue.first_page_with_image.sequence %}" alt="" />
                    </a>
                {% else %}
                    Missing Page: {{explanation}}
                {% endif %}
            </div>
            <div class="col-md-7">
                <h4>Browse:</h4>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-newspaper-o" aria-hidden="true"></i><a href="{% url 'chronam_issues' lccn %}">Calendar View</a></li>
                    <li><i class="fa-li fa fa-newspaper-o" aria-hidden="true"></i><a href="{% url 'chronam_issues_first_pages' title.lccn %}">All front pages</a></li>
                    <li><i class="fa-li fa fa-newspaper-o" aria-hidden="true"></i>{% if title.first_issue.first_page.sequence %}<a href="{% url 'chronam_page' title.lccn title.first_issue.date_issued title.first_issue.edition title.first_issue.first_page.sequence %}">First Issue</a>{% endif %} | {% if title.last_issue.first_page.sequence %}<a href="{% url 'chronam_page' title.lccn title.last_issue.date_issued title.last_issue.edition title.last_issue.first_page.sequence %}">Last Issue</a>{% endif %}</li>
                </ul>
            </div>
        {% else %}
            No Issues
        {% endif %}
        {% if title.has_essays %}
        <div class="row">
            <div class="col-md-12">
                <h3>About</h3>
                <p>{{title.essay_text|safe}}</p>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}

