{% extends "site_base.html" %}
{% load static from staticfiles %}

{% block page_head %}
    <h1>{{ page_title }}</h1>
{% endblock %}

{% block main_content %}

    <div class="row" id="newspaper-type-nav">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
            {% for type, titles in titles_by_type.items %}
                <li role="presentation" class="{{ type|lower|cut:" " }}" data-show="{{ type|lower|cut:" " }}"><a href="#{{ type|lower|cut:" " }}">{{ type }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="types">
    {% for type, titles in titles_by_type.items %}
        <div class="row {{ type|lower|cut:" " }} type-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well well-sm">
                            <h4>{{ titles.type.description }}</h4>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <ul class="list-group">
                                {% for t in titles.titles %}
                                    <li class="list-group-item"><a href="{% url 'chronam_title' t.lccn %}">{{ t.display_name_with_date_range }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
{% block javascript %}{{ block.super }}
<script type="text/javascript">
(function($) {
    function initPage() {
        $('.browse-menu-item').addClass('active');
        var $type_rows = $('.type-row');
        var type_slug = window.location.hash.slice(1) || 'community';
        var $nav_tabs = $('.nav-tabs li');
        $('.nav-tabs .' + type_slug).addClass('active');
        $type_rows.hide();
        $('.type-row.' + type_slug).show();
        $nav_tabs.click(function(){
            var $this = $(this);
            $nav_tabs.removeClass('active');
            $this.addClass('active');
            $type_rows.hide();
            var show_row = $this.data('show');
            $('.type-row.' + show_row).show();
        });
    }
    $(initPage);
})(jQuery)
</script>
{% endblock javascript %}
