/* Included in ChronAm site template */

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

.breadcrumb {
    margin: 0 0 5px;
}

#myCarousel {
    margin-top: 10px;
}

ul.newspaper_pages li.span4 {
    height: 450px;
}

@media (min-width: 1200px) {
    ul.newspaper_pages li.span4 {
        height: 575px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    ul.newspaper_pages li.span4 {
        height: 350px;
    }
}

@media (max-width: 767px) {
    ul.newspaper_pages li.span4 {
        height: auto;
    }
}

.highlight_words div {
    margin-top: -3px;
    padding-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 3px;
    margin-left: -1px;
    padding-left: 1px;
    margin-right: 1px;
    padding-right: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background:transparent; /* fallback for browsers not supporting rgba */
    background: rgba(255, 0, 0, 0.4);
}

/* DLG specific */

#main-container {
    background: pink;
}
#footer {
    /*background: rosybrown;*/
}

.breadcrumb-area {
    background: whitesmoke;
}

.left-sidebar {
    background: blue;
}

.right-sidebar {
    background: green;
}

.center-content {
    background: purple;
}

/* Sticky Footer styles */
  html,
  body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
  }

  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }

  /* Set the fixed height of the footer here */
  #push,
  #footer {
    height: 60px;
  }
  #footer {
    background-color: #f5f5f5;
  }

  /* Lastly, apply responsive CSS fixes as necessary */
  @media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }